/* COLORS */

$color-basic: #1F4690;
$color-basic-light: #2b59ae;

$color-standard: #231955;
$color-standard-light: #33247c;

$color-premium: #E8AA42;
$color-premium-light: #f6b647;

$color-grey-dark: #2f2f2f;
$color-grey-light-1: #eee;
$color-grey-light-2: #777;

$color-white: #fff;
$color-black: #000;